{% extends 'base_anon.html' %} 
{% block 'body' %}
<div class='container'>
    <div class="jumbotron pt-3 pb-2 mt-3 mb-3 text-center">
        <p class="heading-1">Metal Accounting</p>
    </div>
    <!-- <div class="mt-3" style="text-align:center;">
        <img src="/static/{{ gallery_image }}" style="max-width:100%; max-height:400px;">
    </div> -->
    <div class="login-register-container mt-4">
        <div class="card p-3">
            <div>
                <p class="heading-2">
                    Returning User?
                    <a href="#" id="open-login-form-link">
                        <strong>Login</strong>
                    </a>
                </p>
                {% if loginerror %}
                    <div class="alert alert-danger mt-2 mb-2 p-2">
                        {{ loginerror }}
                    </div>
                {% endif %}
                <form 
                    id="login-form"
                    style="{% if not loginerror %}display:none{% endif %}"
                    method="POST"
                    action="/login/"
                    onsubmit="return validateLoginForm()"
                >
                    {% csrf_token %}
                    <div>
                        <p class="mb-1 mt-1">
                            Email
                        </p>
                        <div
                            class="alert alert-danger mt-2 mb-2 p-2"
                            style="display:none;"
                            id="login-email-error"
                        >
                        </div>
                        <input
                            type="email"
                            class="form-control text-input-max-400"
                            name="email"
                            id="login-form-input-email"
                            value="{% if loginemail %}{{ loginemail }}{% endif %}"
                        >
                    </div>
                    <div>
                        <p class="mb-1 mt-3">
                            Password
                        </p>
                        <div
                            class="alert alert-danger mt-2 mb-2 p-2"
                            style="display:none;"
                            id="login-password-error"
                        >
                        </div>
                        <input
                            type="password"
                            class="form-control text-input-max-400"
                            name="password"
                            id="login-form-input-password"
                        >
                    </div>
                    <div class="mt-3">
                        <input class="btn btn-primary" type="submit" value="login">
                        <a href="#" id="open-reset-password-form">
                            Forgot Your Password?
                        </a>
                    </div>
                    <script>
                        $(document).ready(()=>{
                            $("#open-reset-password-form").click(()=>{
                                $("#reset-password-form").slideDown(350)
                            })
                        })
                    </script>
                </form>
            </div>
            <div class="mt-3" style="display:none;" id="reset-password-form">
                <hr>
                <p>Reset Your Password</p>
                <form
                    method="POST"
                    action="{% url 'password_reset_send_email' %}"
                    onsubmit="return validateSendPWResetEmailForm()"
                >
                    {% csrf_token %}
                    <div class="alert alert-danger" id="reset-password-form-errors" style="display:none;">
                    </div>
                    <div>
                        <input type="email" name="email" class="form-control text-input-max-400" placeholder="E-Mail" id="reset-pw-email-input">
                    </div>
                    <div class="mt-2">
                        <button class="btn btn-primary">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
        <script>
            function validateSendPWResetEmailForm() {
                const email = $("#reset-pw-email-input").val().trim()
                if (!isValidEmail(email)) {
                    $("#reset-password-form-errors").text("Invalid Email Address")
                    $("#reset-password-form-errors").css("display", "block")
                    return false
                }
                return true
            }
            $(document).ready(()=>{
                const search = location.search.substring(1)
                if(search){
                    const qp = JSON.parse('{"' + decodeURI(search).replace(/"/g, '\\"').replace(/&/g, '","').replace(/=/g,'":"') + '"}')
                    if(qp.reset_errors) {
                        console.log(qp.reset_errors)
                        $("#login-form").css("display", "block");
                        $("#reset-password-form").css("display", "block")
                        $("#reset-password-form-errors").text(qp.reset_errors)
                        $("#reset-password-form-errors").css("display", "block")
                    }
                }
            })
        </script>
        <div class="card p-3 mt-3">
            <div>
                <p class="heading-2">
                    New User?
                    <a href="#" id="open-register-form-link">
                        <strong>Register for Free</strong>
                    </a>
                </p>
                <form id="register-form" style="display:none;" method="POST" action="/register/">
                    <div class="alert alert-danger" id="register-user-errors" style="display:none;">
                    </div>
                    <div class="alert alert-success" id="register-user-success-msg" style="display:none;">
                    </div>
                    {% csrf_token %}
                    <div>
                        <p class="mb-1 mt-1">
                            Email
                        </p>
                        <input type="email" class="form-control text-input-max-400" id="register-new-user-email">
                    </div>
                    <div>
                        <p class="mb-1 mt-3">
                            Password
                        </p>
                        <input type="password" class="form-control text-input-max-400" id="register-new-user-pass-1">
                    </div>
                    <div>
                        <p class="mb-1 mt-3">
                            Password Again
                        </p>
                        <input type="password" class="form-control text-input-max-400" id="register-new-user-pass-2">
                    </div>
                    <div class="mt-3">
                        <input class="btn btn-primary" type="button" value="register" id="register-new-user-btn">
                        <br><small>
                            By clicking register, you agree to the site's
                            <a href="{% url 'anon-pp' %}" target="_blank">privacy policy</a> and
                            <a href="{% url 'anon-tos' %}" target="_blank">terms of service</a>.
                        </small>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function resetRegisterUserErrors() {
            $("#register-user-errors").text("")
            $("#register-user-errors").css('display', 'none')
        }
        function setRegisterUserErrors(errors) {
            $("#register-user-errors").text(errors)
            $("#register-user-errors").css('display', 'block')
        }
        function setSuccessMessage(msg) {
            $("#register-user-success-msg").text(msg)
            $("#register-user-success-msg").css('display', 'block')
        }
        $(document).ready(()=>{
            $("#open-login-form-link").click(()=>{
                if ($("#login-form").css("display") === "none") {
                    $("#login-form").slideDown(350);
                }
            })
            $("#open-register-form-link").click(()=>{
                if ($("#register-form").css("display") === "none") {
                    $("#register-form").slideDown(350);
                }
            })
            $("#register-new-user-btn").click(()=>{
                resetRegisterUserErrors()
                const newUserEmail = $("#register-new-user-email").val().trim()
                const newUserPass1 = $("#register-new-user-pass-1").val().trim()
                const newUserPass2 = $("#register-new-user-pass-2").val().trim()
                const errors = []
                if(!isValidEmail(newUserEmail)) {
                    errors.push("Invalid Email.")
                }
                if(!newUserPass1 || !newUserPass2 || newUserPass1=="" || newUserPass2=="") {
                    errors.push("Password fields are required.")
                }
                if(newUserPass1.length < 6) {
                    errors.push("Password too short.")
                }
                if(newUserPass1 != newUserPass2) {
                    errors.push("Passwords don't match.")
                }
                if(errors.length > 0){
                    return setRegisterUserErrors(errors.join(" "))
                }
                const data = {
                    email:newUserEmail,
                    password1:newUserPass1,
                    password2:newUserPass2,
                }
                $.ajax({
                    url:"{% url 'register' %}",
                    type:'POST',
                    data:JSON.stringify(data),
                    contentType: 'application/json',
                    success:(data, status, xhr)=>{
                        if(xhr.status == 201) {
                            $("#register-new-user-email").val("")
                            $("#register-new-user-pass-1").val("")
                            $("#register-new-user-pass-2").val("")
                            return setSuccessMessage(
                                `Check your email ${newUserEmail} for an activation link.`)
                        }
                    },
                    error:(data, status, xhr)=>{
                        return setRegisterUserErrors(data.responseJSON)
                    },
                })
            })
        })
        function isValidEmail(email) {
            if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
                return true
            }
            return false
        }
        function validateLoginForm() {
            $("#login-email-error").text("");
            $("#login-password-error").text("");
            $("#login-email-error").css("display", "none")
            $("#login-password-error").css("display", "none")
            const loginEmail = $("#login-form-input-email").val()
            const loginPassword = $("#login-form-input-password").val()
            let formIsValid = true
            if (!isValidEmail(loginEmail)) {
                $("#login-email-error").text("This Email is not Valid")
                $("#login-email-error").slideDown(200)
                formIsValid = false
            }
            if (loginPassword.length < 6) {
                $("#login-password-error").text("This Password is not Valid")
                $("#login-password-error").slideDown(200)
                formIsValid = false
            }
            return formIsValid
        }
    </script>

    <div class="marketing-container">
        <div class="card p-3 mt-3 mb-3">
            <p class="heading-2">
                About Metal Accounting
            </p>
            <p>
                Metal Accounting is a <strong>free</strong> online tool for students and educators.
            </p>
            <p>
                Generate financial statements on the fly from journal entries.
                Check out our <a href="{% url 'docs-quick-start-guide' %}">guide</a> for using Metal Accounting.
            </p>
            <p>
                Create <a href="{% url 'docs-company-export' %}">snapshots</a> that can be shared with others and used to submit graded work.
            </p>
            <p>
                Data you enter is kept private and not shared with any 3rd parties.
                MetalAccounting does not utilize online advertising or 3rd party cookies.
                Check out our <a href="{% url 'anon-pp' %}">privacy policy</a> and <a href="{% url 'anon-tos' %}">terms of service</a>.
            </p>
            <p>
                Are you a developer? MetalAccounting is an
                <a href="https://github.com/stricoff92/metalaccounting" target="_blank">open source project</a>
                released under an MIT license.
            </p>
        </div>
        <div class="card p-3 mt-3">
            <p class="heading-2">
                Thanks to
            </p>
            <p>
                <a href="https://bootswatch.com" target="_blank">bootswatch</a> for CSS themes
            </p>
            <p>
                <a href="https://fontawesome.com" target="_blank">fontawesome</a> for icons
            </p>
            <p>
                <a href="https://letsencrypt.org/" target="_blank">Lets Encrypt</a> for a free TLS Certificate
            </p>
            <p>
                All the open-source developers who made this site possible
            </p>
        </div>
    </div>
    <div id="app-footer" class="jumbotron mt-5 pt-4 pb-4 mb-2">
        <div style="display:flex;">
            <i class="fas fa-balance-scale"></i>
            <div class="ml-3">
                <a href="/">Home</a>
            </div>
            <div class="ml-3">
                <a href="{% url 'anon-contact-us' %}">Contact Us</a>
            </div>
            <div class="ml-3">
                <a href="{% url 'anon-tos' %}">Terms of Service</a>
            </div>
            <div class="ml-3">
                <a href="{% url 'anon-pp' %}">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
