{% extends 'base_app.html' %}
{% load humanize %}
{% block 'body' %}
<div>
    <p class="heading-1">Cash Flow Worksheet</p>
    <p class="heading-2">{{ period.company.name }}</p>
    <p>
        For Period
        <strong>{{ period.start|date:"M j, Y" }}</strong>
        <i class="fas fa-arrow-right"></i>
        <strong>{{ period.end|date:"M j, Y" }}</strong>
    </p>
</div>
{% if not worksheet_completed %}
    <div class="alert alert-primary p-4">
        <p class="heading-2">
            <i class="fas fa-bullhorn mr-3"></i>
            This Worksheet must be Completed
        </p>
        <p>
            Before the statement of cash flows can be assembled 1 or more transactions requires further classification.
        </p>
        <p>
            Cash transactions that impact non-cash current assets can be associated with more than 1 type of activity.
        </p>
    </div>
{% endif %}
{% endblock %}