{% extends 'base_app.html' %}
{% load humanize %}
{% block 'body' %}
<div>
    <p class="heading-1">Statement of Cash Flows</p>
    <p class="heading-2">{{ period.company.name }}</p>
    <p>
        For Period
        <strong>{{ period.start|date:"M j, Y" }}</strong>
        <i class="fas fa-arrow-right"></i>
        <strong>{{ period.end|date:"M j, Y" }}</strong>
    </p>
</div>

<div class="mt-5" style="display:flex;">
    <button class="btn btn-primary" id="reset-worksheet-btn">
        <strong>Reset Worksheet</strong>
    </button>
    <a href="/app/period/{{ period.slug }}/statement-of-cash-flows/worksheet/" {{ user.userprofile.target_attr }} class="ml-4">
        Cash Flow Worksheet
    </a>
</div>
<script>
    $(document).ready(()=>{
        $("#reset-worksheet-btn").click(()=>{
            postJson(resetCashFlowWorksheetUrl("{{ period.slug }}"), {},
            (data, status, xhr)=>{
                if(xhr.status == 204) {
                    window.location = "/app/period/{{ period.slug }}/statement-of-cash-flows/worksheet/"
                }
            },
            (data, status, xhr)=>{
                alert("an error occured")
            })
        })
    })
</script>
{% endblock %}
