{% extends 'base_app.html' %} 
{% block 'body' %}
<div class="card p-3 mt-2">
    <p class="heading-2">
        Import a Company
    </p>
    {% if at_object_limit %}
        <div class="alert alert-warning mt-3 p-3">
            <i class="fas fa-exclamation-triangle"></i>
            You already have the maxumim number of companies. You must delete a company before you can import another.
        </div>
    {% endif %}

    <div class="alert alert-danger mt-3 p-3" id="import-company-form-errors" style="display:none;">
    </div>

    <div class="mt-3">
        <input type="file" accept=".txt" id="import-company-file-picker">
    </div>
    <div class="mt-3">
        <strong>or</strong>
    </div>
    <div class="mt-3">
        <textarea
            id="new-account-import-text-area-import"
            class="p-1 form-control"
            placeholder="Paste Company Data Here"
        ></textarea>
    </div>
    <div class="mt-3">
        <button
            class="btn btn-primary"
            id="import-company-btn"
            {% if at_object_limit%}disabled{% endif %}
        >
            <i class="fas fa-bolt"></i>
            Import Company
        </button>
    </div>
</div>
<script>
$(document).ready(()=>{
    $("#import-company-btn").click(()=>{
        resetErrorForm()
        disabledButton()
        
        const selectedFile = $("#import-company-file-picker")[0].files[0]
        if (selectedFile) {
            // Upload with file picker
            if (selectedFile.type != "text/plain") {
                enableButton()
                return addErrorToForm("Invalid file type selected")
            }
            const formData = new FormData(); 
            formData.append('company_text_file', selectedFile);
            postFormData(importCompanyUrl, formData,
                (data, status, xhr)=>{ 
                    if(xhr.status == 201) {
                        window.location = `/app/company/${data.slug}/`
                    }
                },
                (data, status, xhr)=>{
                    enableButton()
                    addErrorToForm("An Error Occured.")
                })

        } else {
            // Upload via text pasted in the box
            const serializedData = $("#new-account-import-text-area-import").val().replace(/\s+/g, '')
            if(!!!serializedData) {
                enableButton()
                return addErrorToForm("Either select a file or paste company data into the text box.")
            }
            if(!/^\S+\:\S{15,}$/.test(serializedData)) {
                enableButton()
                return addErrorToForm("Data format is incorrect.")
            }

            postJson(importCompanyUrl, {company_text_data:serializedData},
                (data, status, xhr)=>{
                    if(xhr.status == 201) {
                        window.location = `/app/company/${data.slug}/`
                    }
                },
                (data, status, xhr)=>{
                    enableButton()
                    addErrorToForm("An Error Occured.")
                },
            )
        }


    })
})
function resetErrorForm(){
    $("#import-company-form-errors").text("")
    $("#import-company-form-errors").css("display", "none")
}
function addErrorToForm(err) {
    $("#import-company-form-errors").css("display", "block")
    $("#import-company-form-errors").text(err)
}
function disabledButton() {
    $("#import-company-btn").prop("disabled", true)
}
function enableButton() {
    $("#import-company-btn").prop("disabled", false)
}
</script>
{% endblock %}
