{% extends 'base_app.html' %} 
{% block 'body' %}
<div>
    <p class="heading-1">Accounts List</p>
    <p class="heading-2">{{ company.name }}</p>
</div>

<div id="new-account-form-container" class="mt-3">
    <button class="btn btn-primary" id="open-new-account-form-btn">
        <i class="fas fa-plus-square"></i>
        New Account
    </button>
    <div id="new-company-form" style="display:none" class="card mt-4 mb-3 p-3">
        <p class="heading-2">Create a New Account</p>
        <div
            id="new-account-form-errors"
            class="mt-2 mb-2 p-2 alert alert-danger"
            style="display:none"
        >
        </div>
        <div class="mt-2">
            <p class="mb-1"><strong>Account Name</strong></p>
            <div
                id="new-account-form-name-errors"
                class="mt-2 p-2 alert alert-danger"
                style="display:none;"
            >
            </div>
            <input
                type="text"
                class="form-control text-input-max-400"
                id="new-account-name-input"
                maxlength="100"
                minlength="3"
            >
        </div>

        <div class="mt-2">
            <p class="mb-1"><strong>Account Number</strong></p>
            <div
                id="new-account-form-number-errors"
                class="mt-2 p-2 alert alert-danger"
                style="display:none;"
            >
            </div>
            <input type="number" class="form-control text-input-max-400" id="new-account-number-input">
        </div>

        <div class="mt-2">
            <p class="mb-1">
                <strong>Account Type</strong>
                <i class="fas fa-question-circle"></i>
            </p>
            <select class="form-control text-input-max-400" id="new-account-type-input">
                <option value="asset" selected>
                    Asset
                </option>
                <option value="liability">
                    Liability
                </option>
                <option value="equity">
                    Equity
                </option>
                <option value="revenue">
                    Revenue
                </option>
                <option value="expense">
                    Expense
                </option>
            </select>
        </div>

        <div class="mt-3">
            <div>
                Account Tag <i class="fas fa-question-circle"></i>
            </div>
            <div
                id="new-account-form-tag-errors"
                class="mt-2 p-2 alert alert-danger"
                style="display:none;"
            >
            </div>
            <select id="account-tag-input">
                <option value="">
                    --
                </option>
                {% for option in tags %}
                    <option value="{{ option.0 }}" id="tag-select-input-{{ option.0 }}">
                        {{ option.1 }}
                    </option>
                {% endfor %}
            </select>

        </div>

        <div class="mt-3">
            <p class="mb-1">
                <strong>Current or Non-Current Account</strong>
                <i class="fas fa-question-circle"></i>
            </p>
            <div class="form-check">
                <input 
                    class="form-check-input"
                    type="radio"
                    name="current-type-account-selection"
                    id="current-account-input"
                    value="is-current"
                    checked
                >
                <label class="form-check-label" for="current-account-input">
                    Current
                </label>
            </div>
            <div class="form-check">
                <input 
                    class="form-check-input"
                    type="radio"
                    name="current-type-account-selection"
                    id="non-current-account-input"
                    value="is-non-current"
                >
                <label class="form-check-label" for="non-current-account-input">
                    Non-Current
                </label>
            </div>
        </div>

        <div class="mt-3">
            <p class="mb-1">
                <strong>Contra Account</strong>
                <i class="fas fa-question-circle"></i>
            </p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="new-account-is-contra-input">
                <label class="form-check-label" for="new-account-is-contra-input">
                    Is Contra Account
                </label>
            </div>
        </div>

        <div class="mt-3">
            <p class="mb-1">
                <strong>Operating Revenue/Expense Account</strong>
                <i class="fas fa-question-circle"></i>
            </p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="new-account-is-operating-input">
                <label class="form-check-label" for="new-account-is-operating-input">
                    Is Operating Account
                </label>
            </div>
        </div>

        <div class="mt-4">
            <button class="btn btn-success save-new-account-btn">
                <i class="fas fa-save"></i>
                Save
            </button>
            <button class="btn btn-success save-new-account-btn ml-2" clearform="true">
                <i class="fas fa-save"></i>
                Save and add another
            </button>
        </div>
    </div>
</div>
<script>
function resetNewAccountFormErrors() {
    $("#new-account-form-name-errors").text("")
    $("#new-account-form-tag-errors").text("")
    $("#new-account-form-number-errors").text("")
    $("#new-account-form-name-errors").css("display", "none")
    $("#new-account-form-number-errors").css("display", "none")
    $("#new-account-form-tag-errors").css("display", "none")
    $("#new-account-form-errors").text("")
    $("#new-account-form-errors").css("display", "none")
}
function addNewAccountFormNameError(error) {
    $("#new-account-form-name-errors").css("display", "block")
    $("#new-account-form-name-errors").text(error)
}
function addNewAccountFormNumberError(error) {
    $("#new-account-form-number-errors").css("display", "block")
    $("#new-account-form-number-errors").text(error)
}
function addNewAccountFormTagError(error) {
    $("#new-account-form-tag-errors").css("display", "block")
    $("#new-account-form-tag-errors").text(error)
}
function addNewAccountFormAPIError(error) {
    $("#new-account-form-errors").css("display", "block")
    $("#new-account-form-errors").text(error)
}
$(document).ready(()=>{
    $('#open-new-account-form-btn').click(()=>{
        $('#open-new-account-form-btn').prop('disabled', true)
        $("#new-company-form").slideDown(350)
    })

    const newAccountType = $('#new-account-type-input').val()
    if(['asset', 'liability', 'equity'].indexOf(newAccountType) != -1) {
        $("#new-account-is-operating-input").prop("checked", false)
        $("#new-account-is-operating-input").prop("disabled", true)
    }

    $('#new-account-type-input').change(e => {
        const newAccountType = $('#new-account-type-input').val()
        if(['asset', 'liability'].indexOf(newAccountType) != -1) {
            $("#current-account-input").prop("disabled", false)
            $("#non-current-account-input").prop("disabled", false)
            if(!$("#current-account-input").prop("checked") && !$("#non-current-account-input").prop("checked")) {
                $("#current-account-input").prop("checked", true)
            }
        } else {
            $("#current-account-input").prop("checked", false)
            $("#non-current-account-input").prop("checked", false)
            $("#current-account-input").prop("disabled", true)
            $("#non-current-account-input").prop("disabled", true)
        }
        
        const isOperatingWasDisabled = $("#new-account-is-operating-input").prop("disabled")
        if(['asset', 'liability', 'equity'].indexOf(newAccountType) != -1) {
            $("#new-account-is-operating-input").prop("checked", false)
            $("#new-account-is-operating-input").prop("disabled", true)
        } else {
            $("#new-account-is-operating-input").prop("disabled", false)
            if(isOperatingWasDisabled) {
                $("#new-account-is-operating-input").prop("checked", true)
            }
        }
    })
    $(".save-new-account-btn").click((event)=>{
        const clearForm = !!$(event.target).attr("clearform")
        resetNewAccountFormErrors()
        $("#new-account-form-errors").html("")
        $("#new-account-form-errors").css("display", "none")
        
        const newAccountName = $("#new-account-name-input").val().trim()
        const newAccountNumber = parseInt($("#new-account-number-input").val())
        const newAccountType = $("#new-account-type-input").val()
        const isCurrent = ['asset', 'liability'].indexOf(newAccountType) != -1 ? $("#current-account-input").prop("checked") : null
        const isContra = $("#new-account-is-contra-input").prop("checked")
        const newAccountTag = $("#account-tag-input").val() != "" ? $("#account-tag-input").val() : null
        
        let foundError = false
        if(newAccountName.length < 3 || newAccountName.length > 100) {
            foundError = true
            addNewAccountFormNameError(
                "Account name must be between 3 and 100 characters.")
        }
        if(isNaN(newAccountNumber) || newAccountNumber < 1) {
            foundError = true
            addNewAccountFormNumberError(
                "Account number is invalid. It must be a positive number.")
        }
        if (newAccountTag=='div' && (!isContra || newAccountType != 'equity')) {
            foundError = true
            addNewAccountFormTagError("The dividend tag can only be applied to contra equity accounts.")
        }
        if (newAccountTag=='cogs') {
            if(newAccountType != "revenue" && newAccountType != "expense") {
                foundError = true
                addNewAccountFormTagError("The cost of goods sold tag can only be applied to operating expense or operating contra revenue accounts.")
                foundError = true
            } else if (newAccountType == "revenue" && !isContra) {
                addNewAccountFormTagError("The cost of goods sold tag can only be applied to expense or contra revenue accounts.")
                foundError = true
            } else if (newAccountType == "expense" && isContra) {
                addNewAccountFormTagError("The cost of goods sold tag can only be applied to expense or contra revenue accounts.")
                foundError = true
            }
        }


        const url = accountNewUrl
        const data = {
            company:"{{ company.slug }}",
            name:newAccountName,
            type:newAccountType,
            number:newAccountNumber,
            is_current:isCurrent,
            is_contra:isContra,
            tag:newAccountTag,
        }

        if(!$("#new-account-is-operating-input").prop("disabled") && ['revenue', 'expense'].indexOf(newAccountType) != -1) {
            data.is_operating = $("#new-account-is-operating-input").prop("checked")
        }

        if (newAccountTag == 'cogs' && !data.is_operating) {
            addNewAccountFormTagError("The cost of goods sold tag can only be applied to operating expense/revenue accounts.")
            foundError = true
        }

        if(foundError) {
            return
        }


        postJson(accountNewUrl, data, 
            (data, status, xhr)=>{
                if(xhr.status != 201) {
                    return alert("An Error Occured: " + status)
                }
                if (clearForm) {
                    $("#no-accounts-yet-msg").css("display", "none")
                    $("#new-account-name-input").val("")
                    $("#new-account-number-input").val("")
                    $("#new-account-is-contra-input").prop("checked", false)
                    addAccountToList(data)
                } else {
                    window.location = "/app/account/" + data.slug + "/"
                }
            },
            (data, status, xhr)=>{
                addNewAccountFormAPIError(errorToString(data.responseJSON))
            })
    })
})
</script>

<div id="accounts-list" class="mt-3 mb-3">
    <div class="alert alert-info" id="no-accounts-yet-msg" style="display:none;">
        You don't have any accounts for this company yet.
        <div class="mt-3">
            <button 
                class="btn btn-primary"
                onclick="window.location='/app/company/{{ company.slug }}/default-account/'"
            >
                <i class="fas fa-bolt"></i>
                Add Default Accounts
            </button>
        </div>
        <div class="mt-3">
            <button class="btn btn-primary">
                <i class="fas fa-bolt"></i>
                Import Accounts
            </button>
        </div>
    </div>


</div>
<script>
function addAccountToList(accountData) {
    const accountRowDiv = document.createElement("div");
    $(accountRowDiv).attr("id", `account-row-${accountData.slug}`)
    $(accountRowDiv).addClass(['card', 'p-2', 'mt-1'])

    const accountRowInnerDivTop = document.createElement("div");
    $(accountRowInnerDivTop).css(
        {'display':'flex', 'justify-content': 'space-between'})
    $(accountRowInnerDivTop).html(`
        <div>
            <strong>
                <span id="account-name-span-${accountData.slug}"></span>
            </strong>
            (${accountData.number})
        </div>
        <div style="display:flex; flex-wrap:nowrap;">
            <button class="btn btn-success" onclick="window.location='/app/account/${accountData.slug}/'">
                <i class="fas fa-hand-point-right"></i>
                Open
            </button>
            <button
                class="btn btn-danger"
                id="delete-account-${accountData.slug}-btn"
                ${accountData.has_entries ? 'disabled' : ''}
            >
                <i class="fas fa-trash-alt"></i>
                Delete
            </button>
        </div>
    `)
    $(accountRowDiv).append(accountRowInnerDivTop)

    const accountRowInnerDivBottom = document.createElement("div");
    let typePrefix = ""
    if(accountData.is_operating === true) {
        typePrefix = "operating "
    } else if (accountData.is_operating === false) {
        typePrefix = "non-operating "
    }
    $(accountRowInnerDivBottom).append(`<span>${typePrefix}${accountData.type}</span>`)

    if(accountData.is_contra){
        $(accountRowInnerDivBottom).append(`
            <span class="badge badge-pill badge-info">
                contra
            </span>
        `)
    }
    if(accountData.tag != null){
        $(accountRowInnerDivBottom).append(`
            <span class="badge badge-pill badge-warning">
                ${accountData.tag}
            </span>
        `)
    }

    $(accountRowDiv).append(accountRowInnerDivBottom)
    $("#accounts-list").append(accountRowDiv)
    $(`#account-name-span-${accountData.slug}`).text(accountData.name)

    if(!accountData.has_entries) {
        $(`#delete-account-${accountData.slug}-btn`).click(()=>{
            const url = accountDeleteUrl(accountData.slug)
            const data = {}
            postJson(url, data, 
                (data, status, xhr)=>{
                    if(xhr.status == 204) {
                        return $(`#account-row-${accountData.slug}`).remove()
                    }
                    alert("An Error Occured: " + status)
                    console.error(data)
                },
                (data, status, xhr)=>{
                    alert("An Error Occured: " + status)
                    console.error(data)
                })
        })
    }
}
$(document).ready(()=>{
    const url = "{% url 'account-list' %}?company={{ company.slug }}"
    $.get(url, (accounts, status, xhr)=>{
        if (xhr.status != 200) {
            return alert("An Error Occured. " + status)
        }
        if (accounts.length == 0) {
            $("#no-accounts-yet-msg").css("display", "block")
            return
        }
        accounts.forEach(addAccountToList)
    })
})
</script>
{% endblock %}
