{% extends 'base_app.html' %} 
{% block 'body' %}
<div>
    <p class="heading-1">Add Default Accounts</p>
    <p class="heading-2">{{ company.name }}</p>
</div>
<style>
    td, th {
        padding:7px;
    }
</style>
<div class="mt-4">
    <p class="heading-2">Accounts to Add</p>
    <button class="btn btn-success save-default-accounts">
        <i class="fas fa-save"></i>
        Save Accounts
    </button>
</div>
<div class="mt-3">
    <table>
        <tr class="border-bottom">
            <th class="border-left">Type</th>
            <th class="border-left">Name</th>
            <th class="border-left">Tag</th>
            <th class="border-left">Number</th>
            <th class="border-left">Contra Account</th>
            <th class="border-left">Current Account</th>
            <th class="border-left">Operating Revenue/Expense</th>
        </tr>
        {% for default_account in default_accounts %}
            <tr class="report-row">
                <td class="border-left">{{ default_account.type }}</td>
                <td class="border-left">{{ default_account.name }}</td>
                <td class="border-left">
                    {% if default_account.tag != None %}
                        <i class="fas fa-question-circle"></i>
                        {{ default_account.tag }}
                    {% endif %}
                </td>
                <td class="border-left">{{ default_account.number }}</td>
                <td class="border-left">{{ default_account.is_contra }}</td>
                <td class="border-left">
                    {% if default_account.is_current != None %}
                        {{ default_account.is_current }}
                    {% endif %}
                </td>
                <td class="border-left">
                    {% if default_account.is_operating != None %}
                        {{ default_account.is_operating }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<div class="mt-3 mb-3">
    <button class="btn btn-success save-default-accounts">
        <i class="fas fa-save"></i>
        Save Accounts
    </button>
</div>
<script>
$(document).ready(()=>{
    $(".save-default-accounts").click(()=>{
        const data = {
            company:"{{ company.slug }}",
        }
        postJson(addDefaultAccountsUrl, data, 
            (data, status, xhr)=>{
                if(xhr.status == 201) {
                    window.location = "/app/company/{{ company.slug }}/account/"
                    return
                }
                alert("An Error Occured")
            },
            ()=>{alert("An Error Occured")}
        )
    })
})
</script>
{% endblock %}
