{% load website_extras %}
<!DOCTYPE html>
<html>

    <head>
        {% if tab_title %}
            <title>{{ tab_title }}</title>
        {% else %}
            <title>Metal Accounting</title>
        {% endif %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
            crossorigin="anonymous"
        >
        {% load static %}
        <link rel="stylesheet" href="{% static 'basestyles.css' %}">
        {% if user.userprofile.use_nightmode %}
            <link rel="stylesheet" href="{% static 'nightmode.css' %}">
        {% else %}
            <link rel="stylesheet" href="{% static 'daymode.css' %}">
        {% endif %}
        <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous">
        </script>
        {% include "urls_snippet.html" %}
    </head>

    <body>
        <div class="container">
            <div id="app-heading" class="jumbotron mt-2 pt-2 pb-3 mb-2">
                <p class="heading-2 mt-2 mb-2 text-center">
                    <strong>Metal Accounting</strong>
                    <i class="fas fa-balance-scale"></i>
                </p>
                <div style="display:flex;justify-content:flex-start;">
                    <span>
                        Logged in as
                        <a
                            href="{% url 'app-profile' %}"
                            {{ user.userprofile.target_attr }}
                        >
                        <strong>{{ user.email }}</strong></a>,
                    </span>
                    <span class="ml-1">
                        <a href="{% url 'logout' %}">logout</a>
                    </span>
                    {% if user.is_superuser %}
                        <span class="ml-1">
                            <a href="/admin/" {{ user.userprofile.target_attr }}>admin</a>
                        </span>
                    {% endif %}
                </div>
            </div>
            {% if breadcrumbs %}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                            {% if breadcrumb.href %}
                                <li class="breadcrumb-item">
                                    <a
                                        href="{{ breadcrumb.href }}"
                                        {% if breadcrumb.elementid %}
                                            id="{{ breadcrumb.elementid }}"
                                        {% endif %}
                                    >
                                        {{ breadcrumb.value }}
                                    </a>
                                </li>
                            {% else %}
                                <li 
                                    class="breadcrumb-item active"
                                    aria-current="page"
                                    {% if breadcrumb.elementid %}
                                        id="{{ breadcrumb.elementid }}"
                                    {% endif %}
                                >
                                    {{ breadcrumb.value }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
            {% endif %}
            {% block 'body' %}
            {% endblock %}
            
            <div id="snackbar-container">
            </div>

            <script>
                function addToast(text, duration, bsClasses) {
                    const newAlertUID = getNewUID()
                    const newAlert = document.createElement("div")
                    $(newAlert).addClass("alert " + bsClasses)
                    $(newAlert).attr("id", "toast-" + newAlertUID)
                    $(newAlert).css("display", "none")
                    $(newAlert).text(text)
                    $("#snackbar-container").append(newAlert)
                    $("#toast-" + newAlertUID).slideDown(150, ()=>{
                        setTimeout(()=>{
                            $("#toast-" + newAlertUID).slideUp(150)
                        }, duration)
                    })
                }
                function addSuccessToast(text) {
                    addToast(text, 3500, "alert-success")
                }
                function addErrorToast(text) {
                    addToast(text, 3500, "alert-danger")
                }
            </script>

            <div id="app-footer" class="jumbotron mt-5 pt-4 pb-4 mb-2">
                <div style="display:flex;">
                    <i class="fas fa-balance-scale"></i>
                    <div class="ml-3">
                        <a href="/">Home</a>
                    </div>
                    <div class="ml-3">
                        <a href="#">Support Metal Accounting</a>
                    </div>
                    <div class="ml-3">
                        <a href="#">Contact Us</a>
                    </div>
                    <div class="ml-3">
                        <a href="#">Terms of Service</a>
                    </div>
                    <div class="ml-3">
                        <a href="#">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>


        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous">
        </script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous">
        </script>
        {% if not skip_moment_import %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment-with-locales.min.js">
            </script>
        {% endif %}

        {% csrf_token %}
        <script>
            $(document).ready(()=>{
                $("body").data('uidsInUse', [])

                window.csrftoken = document.querySelector("input[name=csrfmiddlewaretoken]").value;
                function csrfSafeMethod(method) {
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", window.csrftoken);
                        }
                    }
                });
            })
            function numberWithCommas(x) {
                return (x-0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
            function numberWithCommasAndPlus(x) {
                const isPositive = (x-0) > 0
                const prefix = isPositive ? "+" : ""
                return prefix + (x-0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }
            function postJson(url, data, successCb, errorCb) {
                $.ajax({
                    url,
                    type:'POST',
                    data:JSON.stringify(data),
                    contentType: 'application/json',
                    success:successCb,
                    error:errorCb,
                })
            }

            function postFormData(url, data, successCb, errorCb) {
                $.ajax({
                    url,
                    type:'POST',
                    data,
                    contentType: false, 
                    processData: false, 
                    success:successCb,
                    error:errorCb,
                })
            }

            // Object.keys polyfill
            if (!Object.keys) {
                Object.keys = (function() {
                    'use strict';
                    var hasOwnProperty = Object.prototype.hasOwnProperty,
                        hasDontEnumBug = !({ toString: null }).propertyIsEnumerable('toString'),
                        dontEnums = [
                        'toString',
                        'toLocaleString',
                        'valueOf',
                        'hasOwnProperty',
                        'isPrototypeOf',
                        'propertyIsEnumerable',
                        'constructor'
                        ],
                        dontEnumsLength = dontEnums.length;

                    return function(obj) {
                    if (typeof obj !== 'function' && (typeof obj !== 'object' || obj === null)) {
                        throw new TypeError('Object.keys called on non-object');
                    }

                    var result = [], prop, i;

                    for (prop in obj) {
                        if (hasOwnProperty.call(obj, prop)) {
                        result.push(prop);
                        }
                    }

                    if (hasDontEnumBug) {
                        for (i = 0; i < dontEnumsLength; i++) {
                        if (hasOwnProperty.call(obj, dontEnums[i])) {
                            result.push(dontEnums[i]);
                        }
                        }
                    }
                    return result;
                    };
                }());
            }

            // Array.isArray polyfill
            if (!Array.isArray) {
                Array.isArray = function(arg) {
                    return Object.prototype.toString.call(arg) === '[object Array]';
                };
            }

            function errorToString(error) {
                if (typeof error == "string") {
                    return error
                }
                else if (typeof error == "object") {
                    let errorParts = []
                    Object.keys(error).forEach(key => {
                        let errorMsg = `${key}: `
                        let errorVal = error[key]
                        if(Array.isArray(errorVal)) {
                            errorVal.forEach(errValPart => {
                                errorMsg += (errValPart + " ")
                            })
                        } else {
                            errorMsg += errorVal
                        }
                        errorParts.push(errorMsg)
                    })
                    return errorParts.join(" ")
                }
            }

            function getNewUID() {
                const charChoices = "0123456789abcdef"
                const charChoicesCount = charChoices.length
                let uidsInUse = $("body").data('uidsInUse')
                let newUID;
                while(true) {
                    let chars = []
                    for (let i=0; i<6; i++) {
                        chars.push(charChoices.charAt(Math.floor(Math.random() * charChoicesCount)))
                    }
                    newUID = chars.join("")
                    if(uidsInUse.indexOf(newUID) == -1) {
                        break
                    }
                }
                uidsInUse.push(newUID)
                $("body").data('uidsInUse', uidsInUse)
                return newUID
            }

        </script>
    </body>
</html>