{% extends 'base_anon.html' %} 
{% block 'body' %}
<div class='container mb-4'>
    <div class="jumbotron pt-3 pb-2 mt-3 mb-3 text-center">
        <p class="heading-1">Metal Accounting</p>
        <p class="heading-2">Privacy Policy</p>
    </div>
    <p>
        Metalaccounting.com, referred to as "the site" moving forward, <strong>respects your privacy</strong>
        and uses your data exclusively to provide you with services. Your data is not shared
        with any 3rd parties for any reasons. Your data is not shared with other site users unless explicitly authorized by you.
        Some data is stored on site servers and some data
        is stored on user devices through 1st party cookies.
    </p>
    <p>
        By using the site, you agree to this privacy policy.
        Additionally, you acknowledge that internet service providers, browser extensions, bad actors, and others
        can potentially, through legal and illegal means, gain access to some or all of the information shared on the site,
        and use this information in ways that violate this privacy policy.
        The site takes care to follow industry standards to securely transmit and store data.
    </p>
    <hr>
    <p>
        The site collects and stores the following information about its users on the site's servers.
        <ul>
            <li>Email Address</li>
            <li>User submitted data</li>
            <li>IP Addresses and other meta data associated with HTTP</li>
        </ul>
        <p>
            Your email address is not shared with any 3rd parties.
            Your email address is used to log onto the site.
            The site will send emails for the following reasons
            <ul>
                <li>To activate your account</li>
                <li>To reset your password</li>
                <li>To notify you of site outages and updates to this privacy policy</li>
                <li>To respond to a "contact us" submission that you initialize</li>
            </ul>
        </p>
        <p>
            User submitted data is not shared with 3rd parties and typically not inspected
            by the site's admins. The site does reserve the right to view user submitted data
            in order to enforce the site's terms of service.
        </p>
        <p>
            Your IP addresses and other HTTP meta data is not shared with 3rd parties and typically not inspected
            by the site's admins. The site does reserve the right to view user IP addresses and HTTP meta data
            in order to perform security functions.
        </p>
    </p>
    <hr>
    The site uses 1st party cookies to store information about its users in order to provide services.
    The following is a non-complete list of information stored in 1st party cookies:
    <ul>
        <li>Session Identifiers</li>
        <li>Security Tokens</li>
    </ul>
    The site does not use 3rd party cookies for any purpose including advertising and analytics.
</div>
{% endblock %}