<script>
    const importCompanyUrl = "{% url 'company-import' %}"
    const compareCompanyUrl = "{% url 'company-compare' %}"
    const companyListUrl = "{% url 'company-list' %}"
    const companyNewUrl = "{% url 'company-new' %}"
    const companyExportHistoryUrl = "{% url 'company-export-history' %}"
    const addDefaultAccountsUrl = "{% url 'account-add-default-accounts' %}"
    const companyDeleteUrl = (slug) => "/api/v1/company/delete/" + slug + "/"
    const companyEditUrl = (slug) => "/api/v1/company/edit/" + slug + "/"
    const profileEditUrl = "/api/v1/userprofile/{{ user.userprofile.slug }}/"
    const accountListUrl = "{% url 'account-list' %}"
    const accountDeleteUrl = (slug) => "/api/v1/account/delete/" + slug + "/"
    const accountNewUrl = "{% url 'account-new' %}"
    const accountEditUrl = (slug) => "/api/v1/account/edit/" + slug + "/"
    const periodListUrl = "{% url 'period-list' %}"
    const deletePeriodUrl = (slug) => '/api/v1/period/delete/' + slug + "/"
    const editPeriodUrl = (slug) => '/api/v1/period/edit/' + slug + "/"
    const newPeriodUrl = "{% url 'period-new' %}"
    const newJournalEntryUrl = "{% url 'je-new' %}"
    const journalEntryDetailsUrl = (slug) => '/api/v1/je/' + slug + "/"
    const listJournalEntriesUrl = (slug) => '/api/v1/period/' + slug + "/je/list/"
    const deleteJournalEntryUrl = (slug) => '/api/v1/je/delete/' + slug + "/"
    const createCashFlowWorksheetUrl = (slug) => '/api/v1/period/' + slug + '/create-cashflow-worksheet/'
    const resetCashFlowWorksheetUrl = (slug) => '/api/v1/period/' + slug + '/reset-cashflow-worksheet/'
</script>