.heading-1 {
    font-size:2rem;
    font-weight:bold;
}
.heading-2 {
    font-size:1.5rem;
}
.heading-3 {
    font-size:1.2rem;
}
.text-input-max-400 {
    max-width:400px;
}
.text-input-max-200 {
    max-width:200px;
}

#snackbar-container {
    min-width: 250px;
    margin-left: -125px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}
